@media only screen and (max-width: 920px) {

    .header-fixed__trigger {
        top: 45px;
        right: 0px;
    }

    .header-fixed__nav {
        width: 100%;
        top:45px;
        right: 0;
    }

    .site__btn-portfolio,.site__btn-skills {
        margin-top: 55%;
    }
}

@media only screen and (max-width: 768px) {

    .site__btn-portfolio,.site__btn-skills {
        margin-top: 55%;
    }

    .site__btn  a {
        font-size: 14px;
        padding: 0 15px;
    }
    .site__btn-logo  a {
        padding: 0px;
    }
    .site__btn a:hover {
        background-size: 30px;
        padding-right: 5px;
    }
    .site__btn-logo a:hover {
        background-position:8% 5px;
    }
        


    .site__btn-skills, .site__btn-portfolio {
        min-width: 120px;
    }

    .skills__text-item {
        margin-top: 50px;
        width: 125px;
    }

    .skills__text-item p {
       font-size: 14px;
    }
        
 
    .home__octopus {
        top: 15%;
        left: 38%;
        width: 90px;
        height: 90px;
    }

    .portfolio-item {
        width: 90%;
    }
}

@media only screen and (max-width: 568px) {

    .home__octopus {
        top: 25%;
    }
}
@media only screen and (max-width: 480px) {

    .site__btn-portfolio,.site__btn-skills {
        margin-top: 65%;
     }

     .site__btn  a {
        font-size: 12px;
    }
    .site__btn-contacts a {
         font-size: 14px;
    }
    .wave {
        width: 80px;
    }

      
    .section__title-text {
       letter-spacing: 1px;
    }

    .page-portfolio {
        padding-top:100px;
    }
    .portfolio-item {
        width: 85%;
        margin-bottom:50px;
    }

    .page-contacts {
        min-height: 550px;
    }
    .business-card {
       width: 260px;
      /* min-height: 270px;*/
       margin-top: 75px;
 
    }

    .business-card__name {
        padding: 8px;
    }

    .business-card__contacts {
        margin-top: 50px;
     
    }

    .business-card__contacts p{
        font-size: 12px;
    }

    .business-card__contacts-left {
        padding-right: 10px;
    }

     .business-card__contacts-right {
        padding-left: 10px;
    }

    .contacts__octopus-img {
        width:60px;
    }
}


@media only screen and (max-width: 320px) {
   
    .home__octopus {
        top: 70%;
        left: 12%;
    }

    .portfolio-item {
        width: 100%;
    }
}