@media only screen and (max-width: 920px) {

    .header-fixed__trigger {
        top: 45px;
        right: 0px;
    }

    .header-fixed__nav {
        width: 100%;
        top:45px;
        right: 0;
    }

    .site__btn-portfolio,.site__btn-skills {
        margin-top: 200px;
    }

    .site__btn  a {
        font-size: 14px;
        padding: 0 5px;
        line-height: 25px;
    }
    .site__btn-logo  a {
        padding: 0px;
    }
    .site__btn a:hover {
        background-size: 20px;
        padding-right: 5px;
    }
    .site__btn-logo a:hover {
        background-position:8% 5px;
    }
        
}

@media only screen and (max-width: 768px) {

    .site__btn-skills, .site__btn-portfolio {
        min-width: 120px;
    }

    .home__octopus-img {
        bottom: 180px;
        left: 38%;
        width: 90px;
        height:90px;
    }

    .wave {
        width: 60px;
    }

    .portfolio-item {
        width: 90%;
    }

    .skills__text-item {
        margin-top: 50px;
        width: 125px;
    }

    .skills__text-item p {
       font-size: 14px;
    }
        
 
}

@media only screen and (max-width: 568px) {

    .home__octopus-img {
        bottom: 175;
        width: 70px;
        height:70px;
    }
    .site__btn-portfolio,.site__btn-skills {
        margin-top: 165px;
     }
}


@media only screen and (max-width: 480px) {


    .site__btn-portfolio,.site__btn-skills {
        margin-top: 160px
        min-width: 120px;
    }

     .site__btn  a {
        font-size: 12px;
    }

    .site__btn-contacts a {
         font-size: 14px;
    }
   
      
    .section__title-text {
       letter-spacing: 1px;
    }



    .page-portfolio {
        padding-top:100px;
    }
    
    .portfolio-item {
        width: 85%;
        margin-bottom:50px;
    }


    .business-card {
       width: 260px;
       margin-top: 75px;
    }

    .business-card__name {
        padding: 8px;
    }

    .business-card__contacts {
        margin-top: 50px;
     
    }

    .business-card__contacts p{
        font-size: 12px;
    }

    .business-card__contacts-left {
        padding-right: 10px;
    }

     .business-card__contacts-right {
        padding-left: 10px;
    }


    .page-contacts {
        min-height: 550px;
    }

    .contacts__octopus-img {
        width:60px;
    }
}


@media only screen and (max-width: 320px) {

    .site__btn-skills, .site__btn-portfolio {
       margin-top: 115px;
    }
   
    .home__octopus-img {
        bottom:100px;
        left: 12%;
    }

    .portfolio-item {
        width: 100%;
    }
}