@media only screen and (max-width: 920px) {

    .header-fixed__trigger {
        top: 58px;
        right: 0px;
    }

    .header-fixed__nav {
        width: 100%;
        top:58px;
        right: 0;
    }

    .site__btn  a {
        letter-spacing: 1px;
    }

    .site__btn-portfolio,.site__btn-skills {
        margin-top: 55%;
    }
}

@media only screen and (max-width: 768px) {

    .site__btn-portfolio,.site__btn-skills {
        margin-top: 55%;
        width: 90%;
    }

    .site__btn  a {
        font-size: 14px;
    }

    .skills__text-item {
        width: 125px;
        font-size: 14px;
    }
     .skills-text-item p {
       font-size: 14px;
    }
        
 
}


@media only screen and (max-width: 480px) {

    .site__btn-portfolio,.site__btn-skills {
        margin-top: 75%;
        width: 70%;
    }
      
    .section__title-text {
       letter-spacing: 1px;
    }
}


@media only screen and (max-width: 320px) {
    .site__btn-portfolio,.site__btn-skills {
        margin-top: 180%;
    }
    
}