/*! *** START _culture.less  *** !*/
.culture {
  position: relative;
  padding-top: 71px;
  padding-bottom: 75px;
  text-align: center;
}
.culture__item {
  margin-top: 87px;
  margin-bottom: 23px;
  width: 284px;
  padding-left: 5px;
  padding-right: 5px;
}
@media (max-width: 940px) {
  .culture__item {
    margin-top: 50px;
  }
}
.culture__item h4 {
  margin-bottom: 12px;
  color: #222;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: bold ;
  letter-spacing: -0.5px;
  text-transform: uppercase;
}
.culture__item p {
  color: #777;
  font-family: "Roboto Slab";
  font-size: 14px;
  font-weight: normal;
  line-height: 20.8px;
  letter-spacing: -0.4px;
}
.culture__line {
  position: absolute;
  top: 295px;
  width: 170px;
  height: 3px;
  background-color: #777777;
}
@media (max-width: 940px) {
  .culture__line {
    display: none;
  }
}
.culture__line_left {
  left: 221px;
}
.culture__line_right {
  left: 551px;
}
.culture__item-icon {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 90px;
  height: 90px;
  background-color: #f9f9f9;
  border: solid 3px #777777;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.culture__item-icon img {
  display: block;
  margin: 0 auto;
  padding-top: 15px;
}
/*! *** END_culture.less  *** !*/
