html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  max-width: 100%;
  height: auto;
  border: none;
  display: block;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}


* {
   box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ddd;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}

a {
  color: #333;
  text-decoration: none;
  outline: 0; 
}

.link-detail {
  text-align: left;
  }
  a {
  margin-left: 10px;
  color: red;
  font-size: 14px;
  line-height: 2;
  }

a:active, a:focus, a:hover {
  color: #333;
  text-decoration: none;
  outline: 0;
}

.wrapper-site {
  margin: 0 auto;
  padding-top: 70px;
  max-width: 1680px;
  min-width: 320px;
  background-color: #fff;
  box-shadow: 0 2px 5px #555;
}


.site-header {
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  margin: 0;
  padding: 0;
  max-width: 1680px;
  width: 100%;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.9);
}

.site-header a  {
  margin-left: 2%;
}
.site-header a img {
  display: block;
}

.top-menu ul {
  margin: 0;
  padding: 0;
}
.top-menu ul li {
  display: inline-block;
}
.top-menu ul li a {
  display: inline-block;
  margin: 0 10px;
  text-transform: uppercase;
  color: #4D8C6C;
  transition: all 0.35s ease 0s;
}
.top-menu ul li a:hover {
  color: #2A4C3B;
}

.top-phone {
  font-size: 16.5px;
  margin-right: 2%;
}

.hidden-menu {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
}
.hidden-menu ul {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}
.hidden-menu ul li a {
  display: inline-block;
  margin: 20px auto;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
}

.btn-menu {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 102;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-color: transparent;
  color: #4D8C6C;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  -moz-transition: all 0.35s ease 0s;
  -o-transition: all 0.35s ease 0s;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}
.btn-menu:hover {
  color: #2A4C3B;
}

.line {
  width: 96%;
  background-color: #ddd;
  height: 1px;
  margin: auto;
}

.main-title {
  font-size: 35px;
  letter-spacing: .6px;
  margin: 0;
  padding: 0 0 10px 2%;
  line-height: 95px;
}

.main-img {
  height: 450px;
  background: url(../img/bg/bg_main.jpg) no-repeat scroll center center;
  background-size: cover;
  box-shadow: 0 2px 5px #555;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.nature,
.bio,
.history,
.routes,
.contacts {
  padding-top: 65px;
  padding-bottom: 25px;
  }
  


/*block .nature*/

.nature {
  margin-top: 34px;
}

.nature__desc {
  text-align: center;
  padding: 20px 16px 43px 16px;
  }
  .nature__desc h2 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
  }


#owl-demo .item {
  margin: 8px;
}

#owl-demo .item img {
  display: block;
  width: auto;
  height: 190px;
  box-shadow: 0 2px 2px #555;
  margin: 0 auto;
}

.nature__owl {
  margin-top: 22px;
}


/*block .bio*/


.bio__box {
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}

.bio__item {
  text-align: center;
  width: 280px;
  height: 453px;
  border: 1px solid #eee;
  padding: 18px 8px 18px 8px;
  margin: 34px 0px 18px 0px;
  box-shadow: 0 2px 3px #555;
}
  .bio__item img {
    width: 200px;
    height: 200px;
    box-shadow: 0 2px 3px #555;
    border-radius: 50%;
  }

  .bio__item h3 {
    color: #4D8C6C;
    text-transform: uppercase;
    margin-top: 45px;
  }

  .bio__item p {
    margin-top: 20px;
    overflow: auto;
    height: 100px;
  }


/*block .history*/

.history__tabs {
  text-align: center;
 
}
.r-tabs {
   margin-top: 20px;
}
.r-tabs-anchor {
  display: inline-block;
  text-align: center;
  margin: 10px;
  padding: 5px 10px;
  color: #4D8C6C;
  border: 1px solid #4D8C6C;
  border-radius: 3px;
  transition: all 0.35s ease 0s;
}
.r-tabs-anchor:hover {
  color: #2A4C3B;
  border: 1px solid #2A4C3B;
}

.history__item {
    min-height: 100% !important;
}
.history__item img {
  display: block;
  margin: 0 auto;
  margin-top: 27px;
  max-width: 600px;
  max-height: 400px;

  width: 100%;
  box-shadow: 0 2px 5px #555;
}

.history__item p {
  padding: 32px 16px 30px 16px;
}


/*block .routes*/

.routes {
  padding-bottom: 35px;
  
}

.routes__item {
  margin: 18px 0 36px 0;
  padding: 15px 18px;
  border: 1px solid #4D8C6C;
  border-radius: 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

  .routes__item img {
    display: inline-block;
    margin: auto;
    width: 300px;
    height: 200px;
    border-radius: 3px;
    box-shadow: 0 2px 5px #555;
  }

.routes__desc {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  height: 200px;
  padding: 0 15px;
}

  .routes__desc h3 {
    font-size: 17px;
    color: #4D8C6C;
    text-transform: uppercase;
  }

  .routes__desc p {
    font-style: italic;
    font-size: 13.5px;
    padding-top: 5px;
    padding-bottom: 8px;
  }

.routes__line {
  width: 100%;
  height: 18px;
  margin-top: 10px;
  background-color: #4D8C6C;
}


/*block .contacts*/

.contacts__box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: stretch;
  margin-top: 13px;
  margin-bottom: 44px;
}

.contacts__map {
  flex: 0 1 49%;
  height: 450px;
  box-shadow: 0 2px 5px #555;
}

.contacts__form {
  flex: 0 1 49%;
}

.contacts__item {
  margin: 10px 0;
}

.contacts__item label,
.contacts__item input,
.contacts__item textarea {
  display: block;
  width: 100%;
  font-size: 15.75px;
}

.contacts__submit {
  padding: 10px 15px;
  background-color: #4D8C6C;
  font-size: 16.5px;
  color: #fff;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.35s ease 0s;
}
.contacts__submit :hover {
  background-color: #2A4C3B;
}


/* block .copyright*/
.copyright {
  padding: 30px 15px;
  text-align: center;
  background-color: #4D8C6C;
 
}
.copyright h4 {
  font-size: 12px;
  font-style: italic;
  color: #fff;
}


